doctype html
html(lang="pt-br")
  head
    title MOVIES
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet" type="text/css" href="css/core.css")
  #message-box
  #movie-box
    each movie in movies
      p=movie.title
      button.delete-movie(data-movieid = movie._id)="X"
      br
  body
    div#msg-box
    form(action='movies/' method='post' enctype='application/x-www-form-urlencoded')
      label(for='fld_title' style='display: block')="Título"
      input(type='text' name='fld_title')
      label(for='fld_poster' style='display: block')="Poster"
      input(type='text' name='fld_poster')
      label(for='fld_trailer' style='display: block')="Trailer"
      input(type='text' name='fld_trailer')
      input(type='submit' style='display: block')
    script(src="js/functions.js")
